* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainFormContainer {
  width: fit-content;
  padding: 20px;
  min-height: 40vh;
  background-color: lightGray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainFormContainer input {
  outline: none;
  padding: 3px 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: lightGray;
  height: 100vh;
}
.imageContainer {
  max-width: 90%;
  height: 90vh;
  margin: auto;
}
img {
  /* width: 100%; */
  object-fit: contain;
  max-height: 90vh;
  margin-top: 5vh;
  border: 1px solid black;

  min-width: 90vw;
  min-height: 90vh;
}
.card-container .name {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
}

.BackBtn {
  display: inline-block;
}
